/* reset css */

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
input,
button,
li {
  cursor: pointer;
}
li {
  list-style: none;
}
/* layout */

body {
  padding: 0 80px;
  font-family: "Ubuntu", "Dovemayo_gothic", sans-serif;
}

article {
  background-color: #f4dcb2;
  padding: 30px;
}

/* main*/
h1 {
  text-align: center;
  font-size: 30px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  height: 33px;
  margin: 20px 0;
}
.text {
  width: calc(100% - 10px);
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
}
.add {
  width: 33px;
  height: 33px;
  background-color: black;
  color: white;
  border-radius: 0 4px 4px 0;
  border: none;
}
.delete {
  display: block;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 4px;
  margin-left: auto;
}

.list-wrap {
  margin-bottom: 20px;
}

/* 리스트 스타일 */
.li-style {
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 6px 0 6px 15px;
  font-weight: normal;
  background-color: white;
}

li button {
  float: right;
  background-color: white;
  border: none;
  padding: 5px 10px;
  margin-top: -2px;
}

.horizontal-line {
  text-decoration: line-through;
  color: gray;
}

/* 모바일 화면 */

@media (max-width: 430px) {
  body {
    padding: 0px 30px;
  }
  ul {
    font-size: 14px;
  }
  li button {
    background-color: transparent;
  }
}
