.손 {
  display: none;
}

/* 버튼 스타일 */
button {
  display: inline-block;
  background-color: #ff97af;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  margin-left: 70px;
}

button:hover {
  background-color: #77c5e2;
}

button:active {
  background-color: rgb(207, 153, 209);
}

/* 버튼 그룹 스타일 */
button-group {
  display: flex;
  justify-content: center;
}

button:not(:last-child) {
  margin-right: 8px;
}

.가위바위보 {
  font-size: 50px;
  margin-left: 50%;
}

.컴퓨터픽,
.내픽 {
  font-size: 50px;
  margin-left: 170px;
}
