@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "NeoDunggeunmoPro-Regular", sans-serif;
}

.wrapper {
  border: 3px solid rgb(26, 16, 27);
  margin: 15%;
}

.main-box {
  /* border: 3px solid rgb(24, 255, 101); */
  height: 100px;
}

.input-box {
  /* border: 3px solid rgb(255, 251, 20); */
}

.input-box input {
  width: 80%;

  background-color: transparent;
}

.input-box button {
  float: right;
  margin-right: 10px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.list-box {
  /* border: 3px solid rgb(17, 227, 255); */
}
